beautifulsoup4==4.13.4
boto3==1.40.5
botocore==1.40.5
bs4==0.0.2
certifi==2025.8.3
charset-normalizer==3.4.2
dotenv==0.9.9
idna==3.10
jmespath==1.0.1
jsonpickle==4.1.1
python-dateutil==2.9.0.post0ri
python-dotenv==1.1.1
requests==2.32.4
s3transfer==0.13.1
six==1.17.0
soupsieve==2.7
typing_extensions==4.14.1
urllib3==1.26.20
